/* VARIABLES */
:root {
  --monoFonts: "SF Mono", "Menlo", "Source Pro Code", monospace;
}

/* GRAPH CSS */

.graphDiv {
  width: 100%;
  height: 300px;
  margin-bottom: 2em;
}

svg {
  margin-top: 1em;
}

rect, circle {
  fill: steelblue;
}

text {
  font-size: 1em;
  font-family: var(--monoFonts);
}

.line-path {
  fill: none;
  stroke: steelblue;
  stroke-width: 2;
}

.area-path {
  fill: steelblue;
  fill-opacity: 0.4;
}

.axis-label {
  fill: #635F5D;
  font-size: 1.5em;
}

.tick text {
  fill: #635F5D;
}

.tick line {
  stroke: #635F5D;
}

.domain {
  stroke: #635F5D;
}

.axis-label {
  font-size: 1.4em;
}


@media screen and (max-width: 870px ) {
  /* MOBILE GRAPH STUFF */
  .hide-graph {
    display: none;
  }

} /* end media */
